@keyframes fade-in {
    from {
        // display: none; /* Display Property can't be animated REMEMBER! */
        visibility: hidden; //visibility can be animated
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        // display: block;
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
    from {
        // display: none; /* Display Property can't be animated REMEMBER! */
        visibility: visible; 
        opacity: 1;

    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        // display: block;
        visibility: hidden;
        opacity: 0;
    }
}

.fade-out {
    animation: fade-out 300ms ease-in-out forwards;
}